%ul.chatMain__middle__messages
  %li.chatMain__middle__messages__message
    .chatMain__middle__messages__message__top
      %p.chatMain__middle__messages__message__top__userName
        Jan
        %span.chatMain__middle__messages__message__top__postedDate
          2018/05/12 21:10:41
    .chatMain__middle__messages__message__content
      %p.chatMain__middle__messages__message__content__text
        texttexttexttexttexttext

  %li.chatMain__middle__messages__message
    .chatMain__middle__messages__message__top
      %p.chatMain__middle__messages__message__top__userName
        Jan
        %span.chatMain__middle__messages__message__top__postedDate
          2018/05/12 21:10:41
    .chatMain__middle__messages__message__content
      %p.chatMain__middle__messages__message__content__text
        texttexttexttexttexttext



