.chatSide__top__userName
  %h5 Jan
.chatSide__top__userAction
  = link_to "https://www.google.co.jp/" do
    %span.fa.fa-pencil-square-o
  = link_to "https://www.google.co.jp/" do
    %span.fa.fa-cog
