.chatMain__top__left
  %p.chatMain__top__left__groupName
    テストグループ
  %p.chatMain__top__left__memberName
    Member : Jan

.chatMain__top__right
  .edit_btn
    %a{:href => "https://webjobs.jp/20170919_html-alink-expand/"}
      %p.edit_btn_text
        Edit
