%ul.chatSide__bottom__groups
  %li.chatSide__bottom__groups__group
    %a.chatSide__bottom__groups__group__link{:href => "https://www.google.co.jp/"}
      %p.chatSide__bottom__groups__group__name
        テストグループ
      %p.chatSide__bottom__groups__group__message
        こんにちは
  %li.chatSide__bottom__groups__group
    %a.chatSide__bottom__groups__group__link{:href => "https://www.google.co.jp/"}
      %p.chatSide__bottom__groups__group__name
        テストグループ
      %p.chatSide__bottom__groups__group__message
        こんにちは
