%li.chatSide__bottom__groups__group
  = link_to "https://www.google.co.jp/", class: "chatSide__bottom__groups__group__link" do
    %p.chatSide__bottom__groups__group__name
      testgroup
    %p.chatSide__bottom__groups__group__message
      testtext
