.chatMain__top__left
  %p.chatMain__top__left__groupName
    テストグループ
  %p.chatMain__top__left__memberName
    Member : Jan

.chatMain__top__right
  .edit__btn
    = link_to "https://webjobs.jp/20170919_html-alink-expand/", class: "edit__btn__link" do
      %p.edit__btn__link__text
        Edit
