.chatSide__top__userName
  %h5 Jan
.chatSide__top__userAction
  %a.chat-group-create{:href => "https://www.google.co.jp/"}
    %i.fa.fa-pencil-square-o
  %a.chatSide__top__userSetting{:href => "https://www.google.co.jp/"}
    %i.fa.fa-cog
