%form.chatMain__bottom__messageForm{id: "new_message"}
  %input.chatMain__bottom__messageForm__textArea{type: "text", placeholder: "type a message", name: "message[content]", id: "message_content"}
    .selectImage
      %label.selectImage__btn
        %i.fa.fa-picture-o

%input.submit__btn{type: "submit", value: "Send", name: "send_message"}
