
// カラー
$chatSideTopBack: #253141;
$chatSideBottomBack: #2f3e51;
$chatMainTopBorder: #eeeeee;
$chatMainColor: #AAAAAA;
$chatMainMiddleBack: #FAFAFA;
$chatMainBottomBack: #DDDDDD;

$skyblue: #38AEF0;
$white: #FFFFFF;
$gray: #999999;
